.Error {
  width: 220px;
  height: 275px;
  background: #67709c;
  border: 1px solid #8d95bc;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
.ErrorOff {
  display: none;
}
.Error h2 {
  padding-bottom: 175px;
  padding-left: 10px;
  padding-top: 20px;
  font-size: 16px;
  color: #fff;
}
.Error p {
  color: #fff;
  font-size: 13px;
  padding-left: 5px;
}
.Error button {
  position: relative;
  bottom: 7%;
  left: 75%;
  width: 44px;
  height: 24px;
  border-radius: 10px;
}