.Search {
  position: relative;
}
.location {
  color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 100%;
  text-shadow: -1.51px 2.26px 0.75px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
}
.locImg-block {
  padding-top: 5px;
}
.location img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.searchBox {
  position: absolute;
  display: flex;
  height: 40px;
  top: 0;
  right: 0;
}
.searchBtn {
  background: linear-gradient(116.79deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 99.45%);
  border: none;
  border-radius: 15px;
  width: 45px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.searchBox:hover > .search-txt {
  display: block;
}
.search-txt {
  display: none;
  width: 285px;
  border: solid #96a9cb;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 20px;
  background-color: #bac8de;
}
.searchBtn img {
  width: 20px;
  height: 20px;
}