.Watch {
  display: flex;
  padding: 23px 0;
  color: #fff;
  justify-content: center;
  text-align: center;
}
.title {
  font-weight: 300;
  font-size: 16px;
  line-height: 109%;
  text-shadow: -1.51px 2.26px 0.75px rgb(0 0 0 / 10%);
  margin-bottom: 28px;
}
.watch_block {
  width: 75px;
  height: 145px;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.26);
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  color: #EBEBEB;
}
.watch_block img {
  width: 55px;
  height: 30px;
  margin-bottom: 25px;
}
.goldenWatch {
  padding: 20px 0;
  width: 90px;
  height: 175px;
}
.goldenHour {
  margin: 0 30px;
}
.goldenHour .title {
  margin-bottom: 18px;
}
.time__watch {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #FFF;
}
.mb {
  margin-top: 35px;
}