.WeatherDegree {
  display: flex;
}
.WeatherDegree h2 {
  font-size: 164px;
  color: #fff;
  font-weight: 100;
}
.WeatherDegree .img {
  width: 45px;
  height: 40px;
}
.WeatherDegree .img img {
  width: 100%;
}