.WeatherCenterBlock {
  padding: 15px 0 30px 15px;
}
.data {
  font-size: 20px;
  padding-top: 5px;
}
.time {
  font-size: 18px;
  padding: 8px 0 14px;
}
p {
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
  color: #fff;
}