.Wind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 310px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  text-shadow: -1.39839px 2.09758px 0.699193px rgb(0 0 0 / 10%);
  list-style: none;
}
li {
  display: flex;
  justify-content: space-around;
}
.Wind img {
  width: 20px;
  height: 20px;
}
span {
  padding: 0 18px 0 12px;
}